/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    max-width: 696px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.header {
  background: #AA0601;
}
@media (max-width: 767px) {
  .header .container {
    padding: 0;
  }
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__wrap .logo-link {
  max-width: 80px;
}
@media (max-width: 767px) {
  .header__wrap .logo-link {
    padding: 12px 0;
  }
}
.header__wrap .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .header__wrap .navbar {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .header__wrap .navbar .nav-item {
    width: 50%;
  }
}
.header__wrap .navbar .nav-link {
  font-size: 20px;
  display: block;
  color: white;
  padding: 25px 32px;
}
.header__wrap .navbar .nav-link:hover {
  background-color: #ca130d;
}
@media (max-width: 767px) {
  .header__wrap .navbar .nav-link {
    border: 1px solid white;
    text-align: center;
    padding: 12px 0;
  }
}

.footer {
  background: #AA0601;
}
.footer .link {
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .link:hover {
  opacity: 0.6;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 24px;
  padding-top: 48px;
  padding-bottom: 32px;
  border-bottom: 1px solid white;
}
@media (max-width: 767px) {
  .footer__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.footer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
@media (max-width: 767px) {
  .footer .nav {
    display: none;
  }
}
.footer .community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 992px) {
  .footer .community {
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .footer .community {
    gap: 8px;
  }
}
.footer .community .item {
  max-width: 48px;
}
@media (max-width: 767px) {
  .footer .community .item {
    max-width: 24px;
  }
}
.footer .contact-list {
  width: 100%;
}
@media (max-width: 767px) {
  .footer .contact-list {
    width: auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.footer .contact-list .item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.footer .contact-list .item:not(:last-child) {
  margin-bottom: 8px;
}
.footer .contact-list .link {
  font-size: 36px;
}
@media (max-width: 767px) {
  .footer .contact-list .link {
    font-size: 16px;
  }
}
.footer .contact-list .icon {
  font-size: 48px !important;
}
@media (max-width: 767px) {
  .footer .contact-list .icon {
    font-size: 24px !important;
  }
}
.footer__footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .footer__footer {
    row-gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 24px;
  }
}
.footer__footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}
@media (max-width: 767px) {
  .footer__footer .list {
    row-gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__footer .list .link {
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer__footer .list .link {
    font-size: 16px;
  }
}

.btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  color: white;
  background: #AA0601;
}

.banner {
  background-image: url("/images/home-header.png");
  background-size: cover;
  background-position: center;
  color: #650300;
}
@media (max-width: 992px) {
  .banner {
    background-image: url("/images/home-header-sm.png");
  }
}
.banner .container {
  text-align: right;
  padding-top: 296px;
  padding-bottom: 296px;
}
@media (max-width: 767px) {
  .banner .container {
    padding-top: 144px;
    padding-bottom: 144px;
  }
}
.banner .title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .banner .title {
    font-size: 24px;
  }
}
.banner .subtitle {
  font-size: 36px;
}
@media (max-width: 767px) {
  .banner .subtitle {
    font-size: 16px;
  }
}

.service .title, .classic .title, .joint .title, .recommend .title, .contact .title {
  font-size: 48px;
  font-weight: 700;
  color: #650300;
}
@media (max-width: 767px) {
  .service .title, .classic .title, .joint .title, .recommend .title, .contact .title {
    font-size: 24px;
  }
}
.service .container, .classic .container, .joint .container, .recommend .container, .contact .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .service .container, .classic .container, .joint .container, .recommend .container, .contact .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.service {
  background-color: #FBF2F2;
  text-align: center;
}
.service .title {
  margin-bottom: 24px;
}
.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
}
.service__item {
  width: 24%;
}
@media (max-width: 992px) {
  .service__item {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .service__item {
    width: 100%;
  }
}
.service .service-img {
  max-width: 100px;
  margin-bottom: 16px;
}
.service .service-title {
  font-size: 24px;
  font-weight: 700;
  color: #650300;
  margin-bottom: 8px;
}
.service .service-text {
  -moz-text-align-last: left;
       text-align-last: left;
}

.classic {
  text-align: center;
}
.classic .title {
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .classic .title {
    margin-bottom: 24px;
  }
}
.classic .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 24px;
}
.classic .list .item {
  width: 32%;
}
@media (max-width: 992px) {
  .classic .list .item {
    width: 100%;
  }
}
.classic .list .item-img {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  .classic .list .item-img {
    max-width: 336px;
  }
}
@media (max-width: 767px) {
  .classic .list .item-img {
    max-width: 100%;
  }
}
.classic .list .item-title {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  color: #AA0601;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33.333%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}