/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .container {
    max-width: 696px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 13px;
    padding-right: 14px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.header {
  background: #AA0601;
}
@media (max-width: 767px) {
  .header .container {
    padding: 0;
  }
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__wrap .logo-link {
  max-width: 80px;
}
@media (max-width: 767px) {
  .header__wrap .logo-link {
    padding: 12px 0;
  }
}
.header__wrap .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .header__wrap .navbar {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .header__wrap .navbar .nav-item {
    width: 50%;
  }
}
.header__wrap .navbar .nav-link {
  font-size: 20px;
  display: block;
  color: white;
  padding: 25px 32px;
}
.header__wrap .navbar .nav-link:hover {
  background-color: #ca130d;
}
@media (max-width: 767px) {
  .header__wrap .navbar .nav-link {
    border: 1px solid white;
    text-align: center;
    padding: 12px 0;
  }
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33.333%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}