.banner {
  background-image: url("/images/home-header.png");
  background-size: cover;
  background-position: center;
  color: $primary-dark;

  @media(max-width: 992px){
    background-image: url("/images/home-header-sm.png");
  }

  .container {
    text-align: right;
    padding-top: 296px;
    padding-bottom: 296px;

    @media(max-width: 767px){
      padding-top: 144px;
      padding-bottom: 144px;
    }
  }

  .title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 8px;

    @media(max-width: 767px){
      font-size: 24px;
    }
  }
  
  .subtitle {
    font-size: 36px;

    @media(max-width: 767px){
      font-size: 16px;
    }
  }
}

// 標題
.service, .classic, .joint, .recommend, .contact {
  .title {
    font-size: 48px;
    font-weight: 700;
    color: $primary-dark;

    @media(max-width: 767px){
      font-size: 24px;
    }
  }
}

.service {
  background-color: $light;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  @media(max-width: 767px){
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title {
    margin-bottom: 24px;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  
  &__item {
    width: 24%;

    @media(max-width: 992px){
      width: 48%;
    }

    @media(max-width: 767px){
      width: 100%;
    }
  }

  .service-img {
    max-width: 100px;
    margin-bottom: 16px;
  }
  .service-title {
    font-size: 24px;
    font-weight: 700;
    color: $primary-dark;
    margin-bottom: 8px;
  }
  .service-text {
    text-align-last: left;
  }
}