.banner {
  background-image: url("/images/home-header.png");
  background-size: cover;
  background-position: center;
  color: $primary-dark;

  @media(max-width: 992px){
    background-image: url("/images/home-header-sm.png");
  }

  .container {
    text-align: right;
    padding-top: 296px;
    padding-bottom: 296px;

    @media(max-width: 767px){
      padding-top: 144px;
      padding-bottom: 144px;
    }
  }

  .title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 8px;

    @media(max-width: 767px){
      font-size: 24px;
    }
  }
  
  .subtitle {
    font-size: 36px;

    @media(max-width: 767px){
      font-size: 16px;
    }
  }
}

// 標題
.service, .classic, .joint, .recommend, .contact {
  .title {
    font-size: 48px;
    font-weight: 700;
    color: $primary-dark;

    @media(max-width: 767px){
      font-size: 24px;
    }
  }

  .container {
    padding-top: 80px;
    padding-bottom: 80px;

    @media(max-width: 767px){
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.service {
  background-color: $light;
  text-align: center;

  .title {
    margin-bottom: 24px;
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
  }
  
  &__item {
    width: 24%;

    @media(max-width: 992px){
      width: 48%;
    }

    @media(max-width: 767px){
      width: 100%;
    }
  }

  .service-img {
    max-width: 100px;
    margin-bottom: 16px;
  }
  .service-title {
    font-size: 24px;
    font-weight: 700;
    color: $primary-dark;
    margin-bottom: 8px;
  }
  .service-text {
    text-align-last: left;
  }
}

.classic {
  text-align: center;

  .title {
    margin-bottom: 48px;

    @media(max-width: 767px){
      margin-bottom: 24px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;

    .item {
      width: 32%;

      @media(max-width: 992px){
        width: 100%;
      }
    }

    .item-img {
      margin-bottom: 8px;
      @media(max-width: 992px){
        max-width: 336px;
      }

      @media(max-width: 767px){
        max-width: 100%;
      }
    }

    .item-title {
      font-size: 48px;
      font-weight: 900;
      font-style: italic;
      color: $primary;
    }
  }
}


.joint {
  background-image: url("/images/home-section4-bg.png");
  background-size: cover;
  background-position: center;
  text-align: center;

  .title {
    color: white;
    margin-bottom: 48px;
    @media(max-width: 767px){
      margin-bottom: 24px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
  }

  .item {
    width: 50%;
    @media(max-width: 992px){
      width: 100%;
    }
    &:hover {
      .item-img  {
        opacity: 0.8;
      }
    }
    .item-img {
      height: 240px;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: all 0.4s;
    }
    .img1 {
      object-position: 50% 23%;
      @media(max-width: 767px){
        object-position: center top;
      }
    }

    &-title {
      font-size: 48px;
      font-weight: 900;
      font-style: italic;
      padding-top: 8px;
      padding-bottom: 8px;
      color: $primary;
      background: white;
    }

    .border-right {
      border-right: 1px solid $light;
    }
  }
}